.topo{
    background-color: blue;
    font-family: monospace;
    color: #fff;
    padding-bottom: 5px;
}

#menu a{
    text-decoration: none;
    font-style: bold;
    color: #fff;
}

#menu :hover{
    text-decoration: underline;
    color: red;
}